body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #070505;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ed1c24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo img {
    height: 50px;
    background-color: #ffffff;
    border: 3px solid #dbe4ed;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  nav ul li.active a {
    font-weight: bold;
    text-decoration: underline;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button {
    text-align: center;
    margin-top: 20px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .center-text {
    text-align: center;
  }
  
  /* Additional styles and customization can be added as per your requirements */
  